<a href="https://colab.research.google.com/github/soogyo-park/Python-b-42115007/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# CH1 파이썬 문법

## 자료형
#### 숫자형
정수 : 123,-20,0  
실수 : 123.45, =4321.5, 6.08e9  
8잔수 : 0o456, 0o123  
16진수 : 0xff, 0x00, 0x0a

In [ ]:
a=10
b=20
c=a+b
print(c)

30

In [ ]:

a=10
b=5
c=a-b #뺄샘
d=a/b #나눗샘
e=a*b #곱샘
f=a//b #몫
g=a%b #나머지
h=a**b #제곱
print(c,d,e,f,g,h)

5 2.0 50 2 0 100000

####문자열
1. 큰 따옴표 "hello World it\'s"  
2. 작은 따옴표 '대한민국'   
3. 큰 따옴표 3 """hello!"""  
4. 작은 따옴표 3 '''life is too short, You need python'''

#### 변수
* 문자 또는 밑줄로 시작( beta._kim)
* 대소문자를 구분한다.(sum, Sum, SUM)  
* 영문자, 숫자, 밑줄(A to z,0-9,_)  
* 파이썬 키워드는 사용 불가.

In [ ]:
myName="soo gyo park"#카멜
my_name="박수교" #스네이크
MyName="kiki"#파스칼
_my_name="korea"
MYNAME="doowon"
my2name="42115007b"
mystr='123' #str
myNum=123 #int

print(mystr, myNum)
print(type(mystr))
print(type(myNum))

123 123
<class 'str'>
<class 'int'>

#### 여러개 변수 할당

In [ ]:
x,y,z="포도","딸기","키위"
print(x)
print(y)
print(z)

포도
딸기
키위

In [ ]:
a=b=c="오렌지"
print(a)
print(b)
print(c)

오렌지
오렌지
오렌지

In [ ]:
fruits=["포도","딸기","키위"]
x,y,z=fruits

print(x)
print(y)
print(z)

포도
딸기
키위

In [ ]:
x="life"
y="is"
z="beutiful"

print(x, y, z)
print(x+y+z)

life is beutiful
lifeisbeutiful

In [ ]:
a=1
b=2
c=3
print(a,b,c)
print(a+b+c)

1 2 3
6

#### 데이터 유형
* 텍스트
*숫자
*불(bool)

In [ ]:
a=100
b=200
sum=a+b
print(a, '+', b, '=',sum)
sum2=a-b
print(a, '-', b, '=',sum2)
sum3=a*b
print(a, '*', b, '=',sum3)
sum4=a/b
print(a, '÷', b, '=',sum4)

100 + 200 = 300
100 - 200 = -100
100 * 200 = 20000
100 ÷ 200 = 0.5

### input() 함수 이용 계산기

In [ ]:
a= int(input("첫번째 숫자를 입력해주세요: "))
b= int(input("두번째 숫자를 입력해주세요: "))
result=a+b
print(a, '+', b, '=',result,"덧샘")
result=a-b
print(a, '-', b, '=',result,"뺄샘")
result=a*b
print(a, '*', b, '=',result,"곱샘")
result=a/b
print(a, '÷', b, '=',result,"나눗샘")
result=a**b
print(a, '^', b, '=',result,"제곱")
result=a//b
print(a, '//', b, '=',result,"몫")
result=a%b
print(a, '%', b, '=',result,"나머지")

첫번째 숫자를 입력해주세요: 10
두번째 숫자를 입력해주세요: 3
10 + 3 = 13 덧샘
10 - 3 = 7 뺄샘
10 * 3 = 30 곱샘
10 ÷ 3 = 3.3333333333333335 나눗샘
10 ^ 3 = 1000 제곱
10 // 3 = 3 몫
10 % 3 = 1 나머지

In [ ]:
num1=input("숫자입력1 :")
num2=input("숫자입력2 :")
result=num1+num2
print(type(num1))
print(num1, "+", num2, "=", result)

숫자입력1 :100
숫자입력2 :200
<class 'str'>
100 + 200 = 100200

## quiz:

####전화번호, 이름을 입력받아 출력:  
####입력한 내용은 이름 "xx", 전화번호"yy", 무게 "zz"(g)입니다.

#### 산출 금액은 입력한 무게g수 x 10원 = "vv"원 입니다.

In [ ]:
name=input("이름을 입력하시오 :")
num=input("전화번호를 입력하시오 :")
gram=int(input("무게를 입력하시오 (g단위) :"))
monny=10
result1=name
result2=num
result3=gram
result4=gram*monny
print("이름 :",result1)
print("전화번호:",result2)
print("무게 :",result3)
print("이 물건의 금액은",result4,"원","입니다.")

이름을 입력하시오 :123123
전화번호를 입력하시오 :111
무게를 입력하시오 (g단위) :123
이름 : 123123
전화번호: 111
무게 : 123
이 물건의 금액은 1230 원 입니다.