<a href="https://colab.research.google.com/github/soogyo-park/Python-b-42115007/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#### 2. print() 서식출력

In [2]:
print("%d" % 123)
print("%5d" % 123)
print("%05d" % 123)

print("%f" % 123.45)
print("%7.1f" % 123.45)
print("%7.3f" % 123.45)

print("%s" % "대한민국")
print("%8s" % "대한민국")

123
  123
00123
123.450000
  123.5
123.450
대한민국
    대한민국

In [11]:
print("{0:d} {1:5d} {2:05d}".format(123,456,789))

123   456 00789

In [13]:
print("{2:d} {1:5d} {0:05d}".format(123,456,789))

789   456 00123

#### 서식출력

In [16]:
print("\n줄바꿈\n연습입니다")

줄바꿈
연습입니다

In [18]:
print("\t탭키\t연습입니다.")

	탭키	연습입니다.

In [25]:
print("글자가 \'강조\'되는 효과1")
print("글자가 \"강조\"되는 효과2")
print("역슬래시 3개출력 \\\\\\")
print(r"\n \t \" \\ \' @를 그대로 출력") #그대로 출력됨

글자가 '강조'되는 효과1
글자가 "강조"되는 효과2
역슬래시 3개출력 \\\
\n \t \" \\ \' @를 그대로 출력

#### 관계 연산자

In [26]:
a,b=10,20
print(a==b, a!=b, a>b, a<b, a>=b, a<=b)

False True False True False True

#### 논리 연산자

In [29]:
a= 99
print((a>100)and(a<200))
print((a>100) or (a<200))
print(not(a==100))

False
True
True

In [30]:
if(123):
  print("참이면 보입니다.")
if(0):
  print("거짓이면 안 보입니다.")

참이면 보입니다.

#### 퀴즈2  
숫자 입력을 받아 동전으로 바꿔주는 프로그램 (500원, 100원, 50원, 10원)

In [43]:
from IPython.core.interactiveshell import re

#변수 선언
bill, c500, c100, c50, c10 =0,0,0,0,0

bill= int(input("가격을 입력해 주세요: "))
c500= bill // 500 
bill %= 500
c100= bill // 100
bill %= 100
c50= bill // 50
bill %= 50
c10= bill // 10
bill %= 10

print("500원", c500 , "개")
print("100원", c100 , "개")
print("50원", c50 , "개")
print("10원", c10 , "개")
print("남은 돈", bill, "원 \n") 

print("500원 %d개" % c500)
print("100원 %d개" % c100)
print("50원 %d개" % c50)
print("10원 %d개" % c10)

가격을 입력해 주세요: 1241
500원 2 개
100원 2 개
50원 0 개
10원 4 개
남은 돈 1 원

500원 2개
100원 2개
50원 0개
10원 4개

#### 조건문

In [49]:
a=2000
if(a<100):
  print("100보다 작음")
  print("거짓이면 이 문장은 보이지 잖음")
else:
    print("100보다 크다")
    print("프로그램 끝")

100보다 크다
프로그램 끝

In [51]:
a=int(input("점수를 입력하시오 :"))
if(a%2==0):
  print("짝")
else :
  print("홀")

점수를 입력하시오 :1
홀

In [52]:
a=int(input("숫자입력:"))

if(a>50):
  if(a<100):
    print("50<a<100")
  else:
    print("a>100")
else:
  print("a<50")

숫자입력:124
a>100

In [62]:
from pickle import APPEND
fruit=['사과','배','감','포도']
fruit.append('딸기')
if'딸기'in fruit:
  print("딸기가 있습니다.")
print(fruit)

딸기가 있습니다.
딸기가 없음
['사과', '배', '감', '포도', '딸기']

In [73]:
import random

number=[]
for num in range(0,10):
  number.append(random.randrange(0,10))
print("생성된 리스트", number)

생성된 리스트 [7, 8, 0, 2, 3, 9, 6, 9, 6, 1]

#### 반복문

In [84]:
for i in range(0,3,1): #시작값, 끝값+1,증가값
  print("%d 안녕하세요~"%i)#반복 내용

print("반갑습니다.")

0 안녕하세요~
1 안녕하세요~
2 안녕하세요~
반갑습니다.

In [92]:
for i in range(1,9,1):
  print("%d " %i, end=" ")
print("\n")
for i in range(1,9,1):
  print("%d " %i, end=" ")

1  2  3  4  5  6  7  8

1  2  3  4  5  6  7  8

In [105]:
sum=0
for i in range(1,11,1):
  sum = sum+i
print("1~10까지 합계 : %d" % sum)

1~10까지 합계 : 55

#### 퀴즈 3: 숫자 입력을 받아 1부터 입력된 숫자까지의 합을 출력하시오

In [119]:
sum,i=0,0
sum=int(input("숫자를 입력하시오 : "))
for i in range(1,sum,1):
  sum = sum+i
print("1부터", i+1 , "까지의 합계 : %d" % sum)

숫자를 입력하시오 : 12
1부터 12 까지의 합계 : 78

#### 중첩 for문

In [244]:
i,j,k=0,0,0
k= int(input("구구단수 입력: "))
for i in range(k,10,1):
  for j in range(1,10,1):
    print("%d * %d = %2d " %(i,j,j*i), end='\t')
  print('')

구구단수 입력: 2
2 * 1 =  2 	2 * 2 =  4 	2 * 3 =  6 	2 * 4 =  8 	2 * 5 = 10 	2 * 6 = 12 	2 * 7 = 14 	2 * 8 = 16 	2 * 9 = 18
3 * 1 =  3 	3 * 2 =  6 	3 * 3 =  9 	3 * 4 = 12 	3 * 5 = 15 	3 * 6 = 18 	3 * 7 = 21 	3 * 8 = 24 	3 * 9 = 27
4 * 1 =  4 	4 * 2 =  8 	4 * 3 = 12 	4 * 4 = 16 	4 * 5 = 20 	4 * 6 = 24 	4 * 7 = 28 	4 * 8 = 32 	4 * 9 = 36
5 * 1 =  5 	5 * 2 = 10 	5 * 3 = 15 	5 * 4 = 20 	5 * 5 = 25 	5 * 6 = 30 	5 * 7 = 35 	5 * 8 = 40 	5 * 9 = 45
6 * 1 =  6 	6 * 2 = 12 	6 * 3 = 18 	6 * 4 = 24 	6 * 5 = 30 	6 * 6 = 36 	6 * 7 = 42 	6 * 8 = 48 	6 * 9 = 54
7 * 1 =  7 	7 * 2 = 14 	7 * 3 = 21 	7 * 4 = 28 	7 * 5 = 35 	7 * 6 = 42 	7 * 7 = 49 	7 * 8 = 56 	7 * 9 = 63
8 * 1 =  8 	8 * 2 = 16 	8 * 3 = 24 	8 * 4 = 32 	8 * 5 = 40 	8 * 6 = 48 	8 * 7 = 56 	8 * 8 = 64 	8 * 9 = 72
9 * 1 =  9 	9 * 2 = 18 	9 * 3 = 27 	9 * 4 = 36 	9 * 5 = 45 	9 * 6 = 54 	9 * 7 = 63 	9 * 8 = 72 	9 * 9 = 81