<a href="https://colab.research.google.com/github/soogyo-park/Python-b-42115007/blob/main/Untitled3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## CH4 조건문, 반복문

In [ ]:
score = int(input("점수를 입력해 주세요 :"))
if (score> 100):
  print("0~100까지의 숫자를 입력하세요.")
else:
  if(score >=90):
    print("점수: %3d A"% (score))
  elif(score >= 80):
    print("점수: %3d B"% (score))
  elif(score >=70):
    print("점수: %3d C"% (score))
  elif (score>=60):
    print("점수: %3d D"% (score))
  else:
    print("점수: %3d F"% (score))
print("학점 입니다.")

점수를 입력해 주세요 :88
점수:  88 B
학점 입니다.

In [ ]:
import random

numbers = []
for num in range(0,10):
  numbers.append(random.randrange(0,10))

print("생성된 리스트", numbers)

for num in range(0,10):
  if num not in numbers:
    print("숫자 %d는 리스트에 없습니다." %num)
  else:
    print("숫자 %d는 리스트에 있습니다." %num)

생성된 리스트 [5, 0, 4, 1, 5, 3, 2, 0, 2, 8]
숫자 0는 리스트에 있습니다.
숫자 1는 리스트에 있습니다.
숫자 2는 리스트에 있습니다.
숫자 3는 리스트에 있습니다.
숫자 4는 리스트에 있습니다.
숫자 5는 리스트에 있습니다.
숫자 6는 리스트에 없습니다.
숫자 7는 리스트에 없습니다.
숫자 8는 리스트에 있습니다.
숫자 9는 리스트에 없습니다.

In [ ]:
select, answer, numSrt, num1, num2 = 0,0,"",0,0

select=int(input("1. 입력한 수식 계산 2. 두수의 합계: "))

if select == 1:
  numStr = input("*** 수식을 입력하세요. : ")
  answer = eval(numStr) # 1+2 "string"+"str"
  print(" %s 결과는 %5.1f입니다. "%(numStr,answer))
elif select == 2:
  num1 = int(input("*** 첫번째 숫자를 입력하세요 : "))
  num2 = int(input("*** 두번째 숫자를 입력하세요 : "))
  for i in range(num1,num2+1):
    answer = answer + i
  print("%d+...+%d는 %d입니다. "%(num1,num2,answer))
else:
  print("1 또는 2만 입력해야 합니다.")

1. 입력한 수식 계산 2. 두수의 합계: 1
*** 수식을 입력하세요. : 5*2
 5*2 결과는  10.0입니다.

## for & while 문

In [ ]:
for i in range(0,3,1):
  print("안녕!")

안녕!
안녕!
안녕!

In [ ]:
for i in [0,3,1]:
  print("안녕!")

안녕!
안녕!
안녕!

In [ ]:
for i in range(1,4,1):
  for j in range(1,3,1):
    print("i:%d, j:%d" %(i,j))

i:1, j:1
i:1, j:2
i:2, j:1
i:2, j:2
i:3, j:1
i:3, j:2

In [ ]:
i,j =0,0
for i in range(2,10,1):
  for j in range(1,10,1):
    print("%d x %d = %2d" %(i,j,i*j), end="   ")
  print(" ")

2 x 1 =  2   2 x 2 =  4   2 x 3 =  6   2 x 4 =  8   2 x 5 = 10   2 x 6 = 12   2 x 7 = 14   2 x 8 = 16   2 x 9 = 18
3 x 1 =  3   3 x 2 =  6   3 x 3 =  9   3 x 4 = 12   3 x 5 = 15   3 x 6 = 18   3 x 7 = 21   3 x 8 = 24   3 x 9 = 27
4 x 1 =  4   4 x 2 =  8   4 x 3 = 12   4 x 4 = 16   4 x 5 = 20   4 x 6 = 24   4 x 7 = 28   4 x 8 = 32   4 x 9 = 36
5 x 1 =  5   5 x 2 = 10   5 x 3 = 15   5 x 4 = 20   5 x 5 = 25   5 x 6 = 30   5 x 7 = 35   5 x 8 = 40   5 x 9 = 45
6 x 1 =  6   6 x 2 = 12   6 x 3 = 18   6 x 4 = 24   6 x 5 = 30   6 x 6 = 36   6 x 7 = 42   6 x 8 = 48   6 x 9 = 54
7 x 1 =  7   7 x 2 = 14   7 x 3 = 21   7 x 4 = 28   7 x 5 = 35   7 x 6 = 42   7 x 7 = 49   7 x 8 = 56   7 x 9 = 63
8 x 1 =  8   8 x 2 = 16   8 x 3 = 24   8 x 4 = 32   8 x 5 = 40   8 x 6 = 48   8 x 7 = 56   8 x 8 = 64   8 x 9 = 72
9 x 1 =  9   9 x 2 = 18   9 x 3 = 27   9 x 4 = 36   9 x 5 = 45   9 x 6 = 54   9 x 7 = 63   9 x 8 = 72   9 x 9 = 81

In [ ]:
i = 0
while i<100:
  print("%d : while문" %i)
  i = i+10

0 : while문
10 : while문
20 : while문
30 : while문
40 : while문
50 : while문
60 : while문
70 : while문
80 : while문
90 : while문

In [ ]:
# q 부터 10까지 합계를 while, for문으로 구하시오.
#while문
i, hap = 0,0
i = 1
while i<11:
  hap= hap+i
  i=i+1
  print("1부터 10까지의 합계: %d" %(hap))

1부터 10까지의 합계: 1
1부터 10까지의 합계: 3
1부터 10까지의 합계: 6
1부터 10까지의 합계: 10
1부터 10까지의 합계: 15
1부터 10까지의 합계: 21
1부터 10까지의 합계: 28
1부터 10까지의 합계: 36
1부터 10까지의 합계: 45
1부터 10까지의 합계: 55

In [ ]:
#for문.
i, hap = 0,0
for i in range(1,11,1):
  hap=hap+i
print("1부터 10까지의 합계: %d" %hap)

1부터 10까지의 합계: 55

In [ ]:
#while True:
#print("무한루프 ∞", end='')

In [ ]:
#brake
for i in range(1,100):
  print("for문 %d번 실행" %i)
  break
print("brake 빠짐")

for문 1번 실행
brake 빠짐

In [ ]:
from IPython.lib.pretty import Breakable
hap = 0
a,b = 0,0
while True:
  a = int(input("덧샘 첫번째 수 입력: "))
  if a==0:
    break
  b = int(input("덧샘 두번째 수 입력: "))
  hap = a+b
  print("%d+%d=%d" %(a,b,hap))

print("break로 중지.")

덧샘 첫번째 수 입력: 1
덧샘 두번째 수 입력: 2
1+2=3
덧샘 첫번째 수 입력: 3
덧샘 두번째 수 입력: 4
3+4=7
덧샘 첫번째 수 입력: 0
break로 중지.

In [ ]:
#continue
hap, i =0,0
for i in range(1,11):
  if i % 3 == 0:
    print("i:%d" %i)
    continue
  hap += i

print("1~10 합계(3의 배수 제외) : %d" %hap)

i:3
i:6
i:9
1~10 합계(3의 배수 제외) : 37

In [ ]:
fruits = ["사과","바나나","체리"]
for x in fruits:
  if x == "바나나":
    continue
  print(x)

사과
체리

In [ ]:
for x in range(6):
  print(x)
else:
  print("끝")

0
1
2
3
4
5
끝

In [ ]:
for x in range(6):
  if x == 3: 
    break
  print(x)
else:
  print("끝")

0
1
2

In [ ]:
#for문 루프는 비워둘 수 없음
for x in [0,1,2]:
  pass

## 함수

In [ ]:
# 두 수를 더하는 함수.

def plus(v1,v2):
  result=0
  result=v1+v2
  return result

hap = 0
hap = plus(10,20)
print("10+20 plus() 처리결과는 %d" %hap)
hap = plus(20,30)
print("20+30 plus() 처리결과는 %d" %hap)

10+20 plus() 처리결과는 30
20+30 plus() 처리결과는 50

In [ ]:
# 계산기 코드

def calc(v1,v2,op):
  result = 0
  if op == '+':
    reulst = v1+v2
  elif op == '-':
    reulst = v1-v2
  elif op == '*':
    reulst = v1*v2
  elif op == '/':
    reulst = v1/v2
  return result

rst = 0
var1, var2, opr = 0,0,""

opr = input("(+,-,*,/)입력 : ")
var1 = int(input("첫번째 수 입력: "))
var2 = int(input("두번째 수 입력: "))
rst = calc(var1,var2,opr)

print("계산기 %d %s %d = %d" %(var1,opr,var2,rst))

(+,-,*,/)입력 : /
첫번째 수 입력: 20
두번째 수 입력: 10
계산기 20 / 10 = 0

## 0으로 나누려고 하면 메세지 출력 및 계산 중지.
## 제곱 연산자 추가

In [ ]:
# 과제 계산기 코드

def calc(v1,v2,op):
  result = 0
  if op == '+':
    reulst = v1 + v2
  elif op == '-':
    reulst = v1 - v2
  elif op == '*':
    reulst = v1 * v2
  elif op == '/':
    reulst = v1 / v2
    while True:
      if v1 == 0:
        print("0 으로 나눌 수 없습니다.")
        break
  elif op == '^':
    reulst = v1 ^ v2
  return result

rst = 0
var1, var2, opr = 0,0,""

opr = input("(+,-,*,/,^)입력 : ")
var1 = int(input("첫번째 수 입력: "))
var2 = int(input("두번째 수 입력: "))
rst = calc(var1,var2,opr)



print("계산기 %d %s %d = %d" %(var1,opr,var2,rst))

(+,-,*,/,^)입력 : /
첫번째 수 입력: 2
두번째 수 입력: 1

In [ ]:
# 전역 변수와 지역변수
def func1():
  a = 10 # 지역변수
  print("func1()에서 값 %d" %a)

def func2():
  a = 10 # 지역변수
  print("func2()에서 값 %d" %a)

a= 20 #전역 변수

func1()
func2()

func1()에서 값 10
func2()에서 값 10